.front,
.back {
	width: 100px;
	height: 120px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px -5px;
	transition: 0.6s;
	cursor: pointer;
	transform-style: preserve-3d;
	font-size: xx-large;
}

.card-container .front {
	background: black;
	color: white;
}

.card-container .back {
	background: white;
	transform: rotateY(-180deg);
}

.inactive {
	opacity: 0;
}
